<div class="w-screen flex flex-col md:flex-row h-screen bg-blue-50">
  <!-- Left Section -->
  <div class="flex flex-col w-screen justify-center items-center
  md:flex-row md:justify-between md:p-8 md:space-y-0 md:space-x-8 md: h-1/2
  lg:p-12 space-y-8">
    <!-- Conditional Rendering of Text Area or Submitted Text -->
    <div class="w-3/4">
      <!-- Form -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label class="text-2xl text-blue-900 mb-10">Ingrese el texto aqui</label>
        <textarea
          class="w-full h-48 p-4 mb-6 border border-blue-200 rounded-md resize-none
          md:h-64 lg:h-72
          focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          placeholder="Ingrese el texto aqui"
          name="inputText"
          matInput
          formControlName="mainText"
        ></textarea>
        <div class="flex items-center mb-6">
          <mat-icon class="mat-18 mr-2">info</mat-icon>
          <label for="lowercaseOnly" class="text-xs text-gray-500">Solo letras minúsculas y sin acentos</label>
        </div>
        <div class="flex space-x-4">
          <button
            type="submit"
            name="action"
            [disabled]="!this.form.valid"
            (click)="encrypt(this.form.get('mainText')?.value)"
            class="px-6 py-2 bg-blue-900 text-white rounded-md shadow
            hover:bg-blue-800
            focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50
            disabled:bg-gray-400 disabled:cursor-not-allowed disabled:shadow-none"
          >
            Encriptar
          </button>
          <button
            type="submit"
            name="action"
            (click)="decrypt(this.form.get('mainText')?.value)"
            [disabled]="!this.form.valid"
            class="px-6 py-2 bg-white text-blue-900 border border-blue-900 rounded-md shadow
            hover:bg-blue-100
            focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50
            disabled:text-gray-400 disabled:cursor-not-allowed disabled:shadow-none"
          >
            Desencriptar
          </button>
        </div>
      </form>
    </div>

    <!-- Submitted View -->
    <ng-template #submittedView>
      <div class="flex flex-col max-w-md w-screen md: h-1/2 p-4 bg-white border border-blue-200 rounded-md">
        <h1 class="text-2xl text-blue-900 mb-6">Texto {{ status }}</h1>
        <p class="text-blue-900 leading-relaxed max-w-md break-words">{{ this.processedText }}</p>
      </div>
      <div class="flex space-x-4 mt-6">
        <button
          type="button"
          (click)="copyText(processedText)"
          class="px-6 py-2 bg-blue-900 text-white rounded-md shadow hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
          Copiar
        </button>
      </div>
    </ng-template>
  </div>

  <!-- Right Section -->
  <div class="w-full bg-white flex justify-center items-center">
    <div class="text-center">
      <!-- Placeholder for no submission -->
      <div *ngIf="!isSubmitted; else submittedView">
        <h2 class="text-xl text-gray-700">Ningún mensaje fue encontrado</h2>
        <p class="text-gray-500 mt-2">Ingresa el texto que desees encriptar o desencriptar.</p>
      </div>
    </div>
  </div>
</div>
